[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
types-requests = "*"
usaddress = "*"
uuid = "*"
scrapy = "*"
boto3 = "*"
boto3-stubs = {extras = ["essential"], version = "*"}

[dev-packages]
mypy = "*"
types-beautifulsoup4 = "*"
types-requests = "*"
pandas-stubs = "*"
boto3-stubs = "*"

[requires]
python_version = "3.12"
