[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
types-requests = "*"
usaddress = "*"

[dev-packages]
mypy = "*"
types-beautifulsoup4 = "*"
types-requests = "*"
pandas-stubs = "*"

[requires]
python_version = "3.12"
