[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.32.0"
beautifulsoup4 = "~=4.13.0"
pandas = "~=2.3.0"
types-requests = "~=2.32.0"
usaddress = "~=0.5.16"
uuid = "~=1.30"
scrapy = "~=2.13.0"
boto3 = "~=1.40.0"
boto3-stubs = {extras = ["essential"], version = "~=1.40.0"}
scrapy-playwright = "~=0.0.44"
redis = "~=7.1.0"

[dev-packages]
mypy = "~=1.17.0"
types-beautifulsoup4 = "~=4.12.0"
types-requests = "~=2.32.0"
pandas-stubs = "~=2.3.0"
boto3-stubs = "~=1.40.0"

[requires]
python_version = "3.12"
